In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
df = pd.read_csv('4.car data.csv')

In [4]:
df

     speed  car_age  experience  risk
0      172       22    8.104042    42
1       94       17   11.429461    36
2      186       20   14.819477    45
3      151       10   15.343897    38
4      100        6   16.455807    47
..     ...      ...         ...   ...
275    165       10    8.630563    20
276    130       26    6.656316    49
277    142       19   14.610983    20
278    204        7   13.874352    45
279    137        3    3.334615    68

[280 rows x 4 columns]

In [5]:
df.experience

0       8.104042
1      11.429461
2      14.819477
3      15.343897
4      16.455807
         ...
275     8.630563
276     6.656316
277    14.610983
278    13.874352
279     3.334615
Name: experience, Length: 280, dtype: float64

In [6]:
exm_fit = df.experience.mean()

In [7]:
exm_fit

10.124916517871657

In [8]:
df.experience = df.experience.fillna(exm_fit)

In [9]:
df

     speed  car_age  experience  risk
0      172       22    8.104042    42
1       94       17   11.429461    36
2      186       20   14.819477    45
3      151       10   15.343897    38
4      100        6   16.455807    47
..     ...      ...         ...   ...
275    165       10    8.630563    20
276    130       26    6.656316    49
277    142       19   14.610983    20
278    204        7   13.874352    45
279    137        3    3.334615    68

[280 rows x 4 columns]

In [10]:
reg = linear_model.LinearRegression()

In [11]:
reg.fit(df[['speed','car_age','experience']],df.risk)

LinearRegression()

In [12]:
reg.predict([[137,3,3.334615]])

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([57.17121896])

In [13]:
reg.coef_

array([-0.0302617 , -0.14473869, -0.27965041])

In [14]:
reg.intercept_

62.68381438116154

In [15]:
-0.0302617*137 + -0.14473869*3 + -0.27965041*3.334615 +62.68381438116153

57.17121895921938

In [16]:
df.experience

0       8.104042
1      11.429461
2      14.819477
3      15.343897
4      16.455807
         ...
275     8.630563
276     6.656316
277    14.610983
278    13.874352
279     3.334615
Name: experience, Length: 280, dtype: float64

In [ ]:
exm_fit = df.experience.mean()

In [ ]:
exm_fit

In [ ]:
df.experience = df.experience.fillna(exm_fit)

In [ ]:
df

In [ ]:
reg = linear_model.LinearRegression()

In [ ]:
reg.fit(df[['speed','car_age','experience']],df.risk)

In [ ]:
reg.predict([[137,3,3.334615]])